* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  color: white;
  background-size: cover;
  background-position: center;
  background-image: url('../image/night.jpg');
  height: 100vh;
}